:root{
    --main-color:#37517E;
}

.herosection{
    background-color: var(--main-color);
}

.navbar a{
    color: white !important;
}
.dropdown-menu a {
    color: black !important;
}

.animate-img{
    animation: move 1.5s linear infinite alternate;

}
@keyframes move{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(-15px);
    }
}
.text-blue{
    color: var(--main-color);

}
.gray-line{
    width: 150px;
    height: 2px;
    background-color: lightgray;
    margin: auto;
    position: relative;
}
.blue-line{
    width: 50px;
    height: 3px;
    background-color: var(--bs-info);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.work-card{
    overflow: hidden;
}

.work-card img{
    transition: all 0.4s;
}
.work-card:hover img{
    transform: scale(1.1);
}

.content{
    z-index: 111;
}

.work-card:hover .content{
    transform: translateY(-10px);
}

.work-card .content{
    transition: all 0.4s;
}

.image-containor{
    background: linear-gradient(to right,rgba(55, 81, 126 ,0.5),rgba(55, 81, 126 ,0.7) ), url(https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp) fixed;
}

.image-animation{
    overflow: hidden;
}

.overlay{
    bottom: -90px;
    background-color: rgba(255,255,255,0.8);
}

.image-animation:hover .overlay{
    bottom: 0;
    transition: all 0.3s;
}

.socail-icon i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;

}

.socail-icon i:hover{
    background-color: var(--bs-info);
    color: white;
}

.card button:hover{
    color: white;
}

.blog-card {
    overflow: hidden;
}
.blog-card img{
    transition: all 0.3s;
}
.blog-card h5,.blog-card a{
    transition: all 0.3s;
}


.blog-card:hover img{
    transform: scale(1.1);
}

.blog-card:hover h5,.blog-card a{
    color: var(--bs-info);
}
